<md-card class="container">
  <ul *ngIf="entity">
    <li>
      <strong>Id:</strong>
      {{ entity.id }}
    </li>
    <li>
      <strong>Name:</strong>
      {{ entity.name }}
    </li>
    <li>
      <strong>Picture:</strong>
      {{ entity.picture }}
    </li>
    <li>
      <strong>Price:</strong>
      {{ entity.price }}
    </li>
    <li>
      <strong>Category:</strong>
      {{ entity.category }}
    </li>
    <li>
      <strong>Description:</strong>
      {{ entity.description }}
    </li>
  </ul>
</md-card>
